# File artifacts which may by produced regular software on Windows, Mac OS X and Linux
Thumbs.db
.DS_Store
*.bak

# JetBrains PyCharm configuration and working files 
.idea

# Folder which should be used for temporary working files
sandbox/

# Python virtual environment 
env/

*.py[co]
~temp/
*~
