# this assumes the base requirements have been satisfied via setup.py
# pin specific versions to keep things more stable over time; only pin sub-packages if necessary
pytest==4.4.2
pytest-cov==2.7.1
pytest-flake8==1.0.4
mock==3.0.5
requests_mock==1.5.2